<center><h1>BIENVENIDO</h1></center>
<p>Bienvenido a la página de prueba!</p>

<p>Is this not the most fun you've had all day?!</p>
<center><img src="http://img.webme.com/pic/n/newdrock/jul290707-062.png">
<a href="mailto:drock@misena.edu.co">Webmaster de este sitio</a></center>